 <div class="container">
  <div class="row">
  
  <div class="col-sm-4">
 <h2>User info</h2>
<table>
 <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
 <tr>
  <th>name</th>
  <th><%= @user.name %></th>
 </tr>
 <tr>
  <th>introduction</th>
  <th><%= @user.introduction %></th>
 </tr>
 </table>

    <button type="button" class="btn btn-outline-secondary">
     <%= link_to edit_user_path(@user) do %>
     <i class="fa-solid fa-user-gear"></i>
     <% end %>
    </button>
 
 <h2>New book</h2>
 <%= form_with model: @book do |f| %>
 <p>Title</p>
   <%= f.text_field :title %>
 <p>Option</p>
  <%= f.text_area :body %>
 <%= f.submit 'Create book', class: "btn btn-success" %>
 <% end %>
 
 </div>

<div class="col-sm-8">

<h2>Books</h2>

<table>
 <thead>
  <tr>
   <th colspan="1"></th>
   <th>Title</th>
   <th>Opinion</th>
  </tr>
 </thead>
 
<% @books.each do |book| %>
 <tbody>
  <tr>
    <th><%= image_tag book.user.get_profile_image(100,100) %></th>
    <th><%= link_to book_path(book.id) do %><%= book.title %></th>
    <th><%= book.body %></th>
  </tr><br>
  <% end %>
 </tbody>
</table>
<% end %>

 </div>
 
 </div>
 </div>