<h1>Books</h1>

 <%= @books.each do |book| %>
 <div>
   <%= link_to book_path(book.id) do %>
   <p>Title : <%= book.title %></p>
   <% end %>
   <p>body : <%= book.body %></p>
   <!--<p><%= book.user.profile_image %></p>-->-->
 </div>
 <% end %>