<div>
 <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
  
  <div class="col-sm-4">

<h2>User info</h2>
<table class="table">
 <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
 <tr>
  <th>name</th>
  <th><%= @user.name %></th>
 </tr>
 <tr>
  <th>introduction</th>
  <th><%= @user.introduction %></th>
 </tr>
 </table>
    <button type="button" class="btn btn-outline-secondary">
     <%= link_to edit_user_path(@user) do %>
     <i class="fa-solid fa-user-gear"></i>
     <% end %>
    </button>

<h2>New book</h2>
 <%= form_with model: @new_book do |f| %>
 <p>Title</p>
   <%= f.text_field :title %>
 <p>Option</p>
  <%= f.text_area :body %>
 <%= f.submit 'Create book', class: "btn btn-success" %>
 <% end %>
 </div>

<div class="col-sm-8">
<h2>Book detail</h2>
<table class="table">
 <tr>
 <th>
  <%= image_tag @user.get_profile_image(100,100) %><br>
  <%= link_to @user.name, user_path(@user) %>
 </th>
 <th><%= @book.title %></th>
 <th><%= @book.body %></th>
 <th>
 <% if @book.user == current_user %>
 <button type="button" class="btn btn-success">
 <%= link_to "Edit", edit_book_path(@book) %>
 </button>
 </th>
 <th>
 <button type="button" class="btn btn-danger">
 <%= link_to "Destroy", book_path(@book), method: :delete %>
 <% end %>
 </button>
 </th>
 </tr>
</table>

 </div>
 
 </div>
 </div>
